@media screen and (max-width: 1199.98px) {
    .third-main {
        display: none;
    }
}
.third-main {
    @extend %section;
    padding-top: 0px;
}
.container {
    @extend %container;
}

.third-main__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $main-color;
    margin-bottom: 50px;
}
.third-main__list {
    @extend %list;
    display: flex;
}
.third-main__item:not(:last-child) {
    margin-right: 30px;
}
.third-main__item {
    position: relative;
}

.third-main__overlay {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);    
    bottom: 0;
}
.third-main__overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-title-color;   
    padding: 27px 0;
}