$main-color: #212121;
$accent-color: #2196F3;
$main-title-color: #FFFFFF;
$regular-text-color: #757575;
$second-background-color: #F5F4FA;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$team-social-link-color: #AFB1B8;
$backdrop-backgroung-color: rgba(0, 0, 0, 0.2);
$projects-overlay-color: rgba(33, 150, 243, 0.9);